<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.longyi.lib_download">
	<uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
	<application>
		<activity android:name=".app_upgrade.AndroidOPermissionActivity">
		</activity>


	</application>

</manifest>