<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.longyi.module_usercenter">

    <application android:theme="@style/AppTheme">
        <activity android:name=".ui.about.AboutActivity"></activity>
        <activity android:name=".ui.collect.CollectActivity"></activity>
        <activity android:name=".ui.register.RegisterActivity"></activity>
        <activity android:name=".ui.login.LoginActivity"></activity>

        <service
            android:name=".ui.mine.MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/help" />
        </service>
    </application>

</manifest>